.parallax {
  /* The image used */
  background-image: url("/img/banner.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding-top: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(255, 136, 0, 1);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

.gray {
  color: #a5a5a5;
}

.banner-img {
  margin: auto;
  display: block;
  size: 3em;
  padding-top: 2em;
}

.title {
  font-size: 5em;
}

.description {
  text-align: center;
  margin: auto;
  padding: 1em 0em; 
  width: 80%;
}