.parallax {
  /* The image used */
  background-image: url("/img/banner.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding-top: 3em;
}

html {
  scroll-behavior: smooth
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(255, 136, 0, 1);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

.gray {
  color: #a5a5a5;
}

#carousel-banner {
  position: relative;
  max-height: 90vh;
  overflow: hidden;
}

.carousel-inner img {
  position: relative;
  transform: translateY(-20%);
}


.banner-img {
  width: 20em;
  padding-top: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.title {
  font-size: 5em;
}

.description {
  text-align: center;
  margin: auto;
  padding: 1em 0em;
  width: 80%;
  color: rgb(66, 66, 66);
  font-size: 1.3em;
}